<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path("app_home")}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/annonce">Annonces</a>
        </li> 
        {% if app.user %}
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path("app_logout")}}">Logout</a>
        </li> 
        {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{{path("app_login")}}">Connexion</a>
        </li>       
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>

        {% endif %}

      </ul>
    </div>
    {% if app.user %}

    <p class="nav-link text-dark"><i class="fa-solid fa-user"></i></p>
    &nbsp;&nbsp;&nbsp;
    <p class="nav-link text-dark">{{app.user.username}} </p>
    &nbsp;<p class="nav-link text-dark">|</p>&nbsp;
    <p class="nav-link text-dark">{{app.user.email}}</p>
    {% endif %}
  </div>

</nav>